name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-backend:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build Backend
      run: |
        cd backend
        mvn clean package

    - name: SonarQube Scan
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: |
        cd backend
        mvn clean verify sonar:sonar \
          -Dsonar.projectKey=game-app \
          -Dsonar.projectName="Game App Backend1" \
          -Dsonar.host.url=http://13.221.110.196:9000/ \
          -Dsonar.login=${SONAR_TOKEN}
    - name: Assign Quality Gate Automatically
      run: |
        curl -u "${{ secrets.SONAR_TOKEN }}:" \
          -X POST "http://13.221.110.196:9000/api/qualitygates/select_project" \
          -d "projectKey=game-app" \
          -d "gateName=Game Backend Gate"


    - name: SonarQube Quality Gate Check
      uses: SonarSource/sonarqube-quality-gate-action@master
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        scanMetadataReportFile: backend/.scannerwork/report-task.txt
        pollingTimeoutSec: 300
        
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & Push Backend Image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/game-backend:latest backend
        docker push ${{ secrets.DOCKER_USERNAME }}/game-backend:latest

  build-frontend:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & Push Frontend Image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/game-frontend:latest frontend
        docker push ${{ secrets.DOCKER_USERNAME }}/game-frontend:latest
